<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Hedy Lammar - Biografia</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <style>
        body {
            /*background: #2f3138 url("images/lamarr-atresmedia.jpg") no-repeat center center;*/
            /*background: url(images/bg.jpeg) top center no-repeat;*/
            /* background-color;: #2f3138*/
            background-size: cover;

        }
    </style>
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center ">
        <div class="container-fluid container-xxl d-flex align-items-center" >

            <div id="logo" class="me-auto">
                <!-- Uncomment below if you prefer to use a text logo -->
                <h1><a href="/">Hedy<span>Lamarr</span></a></h1>
            </div>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="/">Inicio</a></li>
                    <li><a class="nav-link scrollto" href="/bio">Biografia</a></li>
                    <li><a class="nav-link scrollto" href="/works">Trabajos</a></li>
                    <li><a class="nav-link scrollto" href="/gallery">Galeria</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->



    <section id="about" class="about" style="padding-top:100px;">

        <!-- ======= About Me ======= -->
        <div class="about-me container" style="padding-top:70px;">

            <div class="row">

                <div class="col-lg-12 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <h2>Biografía</h2>

                    <p style="text-align: justify;">Hedy Lamarr nació en Viena el 9 de noviembre de 1914 como Hedwig Eva
                        Maria Kiesler. Fue la única hija de un banquero de Lemberg y una pianista de Budapest que, aún
                        siendo de origen judío, se habían criado en el catolicismo. En el colegio, destacó por su
                        brillantez intelectual siendo considerada por sus profesores como superdotada. En casa, creció
                        escuchando las interpretaciones de su madre al piano y ella misma, desde pequeña, tocó este
                        instrumento a la perfección. Compleja e inquieta, abandonó los estudios de ingeniería, decidida
                        a cumplir el sueño de ser actriz. Su descubridor, el empresario y director de teatro y cine Max
                        Reinhardt, la llevó a Berlín para que se formase en interpretación, tras lo cual, regresaron a
                        Viena para empezar a trabajar en la industria del cine.</p>
                    <p style="text-align: justify;">La película que la llevó al estrellato en 1932, no pudo ser más
                        polémica. <em>Éxtasis</em>, filmada en Checoslovaquia bajo la dirección de Gustav Machaty, fue
                        el primer film en mostrar el rostro de una actriz, completamente desnuda, durante un orgasmo.
                        Fue tachado de escándalo sexual y se prohibió su proyección en las salas de cine. Le llovieron
                        censuras y condenas, incluida la del Vaticano. Los padres de Hedwig, al ver a su hija desnuda en
                        la pantalla, quedaron horrorizados. Pero no todos los que lograron visionar la película
                        reaccionaron del mismo modo. Fritz Mandl, magnate de la empresa armamentística, quedó embelesado
                        de la belleza de la joven y solicitó permiso a su padre para cortejarla. El matrimonio, todavía
                        avergonzado por el comportamiento de su hija, aceptó encantado la proposición de cortejo del
                        empresario y, más tarde, su petición de mano. Creyeron que siendo este bastante mayor que
                        Hedwig, la pondría en vereda devolviéndola al buen camino. Ignoraron la voluntad de la muchacha,
                        que deseaba seguir adelante con su carrera artística. La obligaron a casarse con Firtz
                        condenándola a una temporada en el infierno.</p>
                    <p style="text-align: justify;">Firtz Mandl era extremadamente celoso y
                        trató de hacerse con todas las copias de <em>Éxtasis</em>. Sólo le permitía desnudarse o bañarse
                        si él estaba presente y la obligaba a acompañarle a todos los actos sociales y cenas de negocios
                        para no perderla de vista. Hedwig se vio forzada a transformarse en lo que siempre había
                        detestado, en el trofeo de exhibición de un tirano. Muchos eran los que pensaban que tenía todo
                        lo que uno podía desear, que envidiaban su jaula de oro. Vivía rodeada de lujo en el famoso
                        castillo de Salzburgo pero era una esclava que no podía hacer nada sin la autorización de Mandl.
                        Hastiada del vacio insoportable en el que se había convertido su vida, retomó la carrera de
                        ingeniería. En las reuniones de trabajo de Mandl a las que se la forzó a asistir, aprovechó para
                        aprender y recopilar información sobre las características de la última tecnología
                        armamentística nazi. Su marido era uno de los hombres más influyentes de Europa y, antes de la
                        Segunda Guerra Mundial, se dedicó a surtir el arsenal de Hitler y Mussolini. Por ello, fue
                        considerado como ario honorario por los gobiernos fascistas pese a ser de origen judío.</p>
                    <p style="text-align: justify;">La vigilancia continua llegó a resultarle tan insoportable que
                        decidió huir. Estando Mandl en un viaje de negocios, escapó por la ventana de los servicios de
                        un restaurante y huyó en automóvil hacia Paris. No llevó más ropa que la puesta. Sólo cogió las
                        joyas para conseguir el dinero que le permitiese alejarse de allí. La fuga fue angustiosa, los
                        guardaespaldas de su marido la persiguieron durante días. Finalmente, logró llegar a Londres y
                        embarcarse en el trasatlántico Normandie con destino a Estados Unidos. Allí coincidió con un
                        viajero muy especial, el productor de películas Louis B. Mayer que le ofreció trabajo antes de
                        llegar a puerto. La única petición era que se cambiase el nombre para que no se la relacionase
                        con la película <em>Éxtasis</em>. De los nombres que le eligieron se quedó con el de Hedy Lamarr
                        en memoria de la actriz del cine mudo Bárbara La Marr. Sobre las aguas del Atlántico Hedwig
                        firmó su contrato con la Metro-Golwyn-Mayer. Hedy Lamarr, la actriz más glamurosa sobre las
                        pantallas, había nacido.</p>
                    <p style="text-align: justify;">Y esa nueva actriz se instaló en Hollywood y trabajó con King Vidor
                        (<em>Camarada X, Cenizas de</em> <em>amor</em>), Jacques Tourneur (<em>Noche en el alma</em>,
                        1944), Robert Stevenson (<em>Pasión que redime</em>, 1947) y Cecil B. DeMille (<em>Sansón y
                            Dalila,</em> 1949). Protagonizó una treintena de películas pero no tuvo demasiado ojo al
                        elegirlas. Sin ir más lejos, rechazó dos obras de arte como <em>Luz</em> <em>de</em>
                        G<em>as</em> y <em>Casablanca</em>. Tampoco tuvo oportunidad de interpretar a Escarlata en
                        <em>Lo que el viento se llevó, </em>quedándose a las puertas. Aún así, su imagen deslumbrante la
                        convirtió en la verdadera estrella emergente de los años 30.</p>
                    <p style="text-align: justify;">En 1941 medio mundo estaba en guerra y el
                        otro medio estaba a punto de entrar en ella. Con el nuevo planteamiento estratégico de la
                        Blitzkrieg (guerra relámpago) basado en el empleo masivo y coordinado de la aviación como
                        artillería volante y las unidades acorazadas como caballería mecanizada, los ejércitos alemanes
                        habían barrido las fuerzas polacas y francesas de forma rotunda y tremendamente rápida. Ahora el
                        peligro de una más que posible invasión se cernía sobre la Gran Bretaña, y después… ¿quien
                        podría pararlos?</p>
                    <p style="text-align: justify;">Hedy conocía de cerca las prácticas de gobierno de Hitler y
                        alimentaba un profundo rencor hacia los nazis, por lo que decidió aportar su contribución
                        personal al esfuerzo de guerra de los aliados. En primer lugar ofreció su trabajo y su
                        preparación como ingeniera al recientemente creado <em>National Inventors Council</em> pero su
                        oferta fue amablemente rechazada por las autoridades, que le aconsejaron que basase su
                        participación en su físico y en su éxito como actriz, promoviendo la venta de bonos de guerra.
                        Lejos de desanimarse u ofenderse, consultó a su representante artístico e idearon una campaña en
                        la que cualquiera que adquiriese 25.000 o más dólares en bonos, recibiría un beso de la actriz.
                        En una sola noche vendió 7 millones de dólares.</p>
                    <p style="text-align: justify;">Pero Hedy no estaba satisfecha, deseaba aportar sus conocimientos a
                        fines técnicos que mejorasen las oportunidades de los ejércitos aliados, y examinó qué podría
                        hacerse en los campos más sensibles a la innovación. El área de las comunicaciones era
                        especialmente crítica en una guerra de movimiento y la radio resultaba el medio de comunicación
                        más adecuado. Por otra parte, también se estaban experimentando sistemas de guiado de armas por
                        control remoto mediante señales de radio. Y el uso de estas señales radioeléctricas presentaba
                        dos problemas fundamentales:</p>
                    <ul style="text-align: justify;">
                        <li>En primer lugar, las transmisiones eran absolutamente vulnerables. Debido a la duración de
                            los mensajes, el enemigo podía realizar un barrido de frecuencia en diferentes bandas y
                            tener tiempo de localizar la emisión. Una vez hallada, era fácil determinar el lugar de
                            origen sintonizando, a la misma longitud de onda, dos o más receptores con antenas
                            direccionales, situándolos en diferentes emplazamientos y localizando la emisora por
                            triangulación. Conseguido esto, podían generarse interferencias que impidiesen la recepción,
                            o atacar directamente el transmisor según conviniese. Es obvio el riesgo que esto
                            representaba para los operadores de las estaciones, especialmente si se trataba de espías
                            situados en territorio enemigo.</li>
                        <li>El segundo aspecto negativo era la propia inseguridad en la recepción de la señal de radio,
                            no solo por las interferencias intencionadas que ya se han apuntado, sino por la afectación
                            de la propagación de las ondas debida a causas meramente naturales, como accidentes
                            geográficos, meteorología, reflexiones en la alta atmósfera, etc.</li>
                    </ul>
                    <p style="text-align: justify;">Hedy Lamarr se interesó por los temas de
                        la defensa nacional a raíz del trágico hundimiento de un barco lleno de refugiados por un
                        submarino alemán en 1940, cuando los Estados Unidos aún permanecían neutrales. El sistema
                        concebido por Hedy partía de una idea tan simple como eficaz. Se trataba de transmitir los
                        mensajes u órdenes de mando fraccionándolos en pequeñas partes, cada una de las cuales se
                        transmitiría secuencialmente cambiando de frecuencia cada vez, siguiendo un patrón
                        pseudoaleatorio. De este modo, los tiempos de transmisión en cada frecuencia eran tan cortos y
                        además estaban espaciados de forma tan irregular, que era prácticamente imposible recomponer el
                        mensaje si no se conocía el código de cambio de canales.</p>
                    <p style="text-align: justify;">El mensaje o la orden (en caso de control remoto) utilizaba un
                        sistema binario, modulando la frecuencia portadora con una señal de baja frecuencia fija, de 100
                        o 500 Hz, lo que permitía añadir filtros sintonizados a estas frecuencias en el receptor para
                        eliminar las señales parásitas mejorando la calidad de la recepción. El receptor estaba
                        sintonizado a las frecuencias elegidas para la emisión y tenía el mismo código de cambio,
                        saltando de frecuencia sincrónicamente con el transmisor. Este procedimiento se conoce ahora
                        como “transmisión en espectro ensanchado por salto de frecuencia”, en inglés Frequency Hopping
                        Spread Spectrum (FHSS). Las principales ventajas que presentan las señales de este tipo de
                        sistemas es que son altamente inmunes a ruidos e interferencias y difíciles de reconocer e
                        interceptar. Las transmisiones de este tipo suenan como ruidos de corta duración, o como un
                        incremento en el ruido en el receptor, excepto para el que esté usando la secuencia de salto que
                        se está empleando en el transmisor. Además, estas transmisiones pueden compartir una banda de
                        frecuencia con muchos tipos de transmisiones convencionales con una mínima interferencia. No es
                        necesario que las frecuencias de emisión sean contiguas.</p>
                    <p style="text-align: justify;">El transmisor y el receptor eran asequibles a la tecnología de la
                        época, basada en componentes electromecánicos y válvulas de vacío, aunque resultaban
                        voluminosos, y frágiles. Hedy no tenía ningún problema en diseñar y construir ambos aparatos,
                        pero quedaba pendiente el delicado problema de la sincronización. Necesitaba la colaboración de
                        alguien muy experto y la casualidad vino en su ayuda. En una cena conoció a George Antheil,
                        pianista y compositor norteamericano, admirador de Stravinsky e inmerso en los movimientos
                        dadaísta y futurista. Años atrás, había protagonizado un escándalo mayúsculo el 4 de octubre de
                        1923, en el Teatro de los Campos Elíseos de París, con el estreno de su obra <em>Ballet
                            Mécanique</em>. La “orquesta” de este ballet estuvo compuesta por dos pianos, dieciséis
                        pianolas sincronizadas, tres xilofones, siete campanas eléctricas, tres hélices de avión y una
                        sirena. A pesar del apoyo de figuras como Erik Satie, Jean Cocteau, Man Ray y James Joyce, la
                        reacción mayoritaria del público fue de un rechazo tan violento, que numerosas butacas fueron
                        arrancadas y echadas al foso de la orquesta. El estreno, un año después, en el Carnegie Hall de
                        New York constituyó otro rotundo fracaso, tras el cual el compositor desistió de seguir
                        representándola y se dedicó a componer y arreglar bandas sonoras.</p>
                    <p style="text-align: justify;">Dejando aparte las opiniones de los musicólogos, lo cierto es que
                        Antheil había logrado sincronizar sin cables 16 pianolas que formaban parte de la orquesta
                        mecánica, y esta precisión es justamente lo que Hedy estaba buscando. Ambos trabajaron
                        intensamente durante algo más de seis meses para encontrar la solución. Emplearían dos pianolas,
                        una en la estación emisora y otra en la receptora y codificarían los saltos de frecuencia de
                        acuerdo con los taladros longitudinales efectuados en la banda de papel, como en una pianola
                        común. La secuencia de los saltos solo la conocería quien tuviese la clave, <em>la melodía</em>,
                        lo que aseguraba el secreto de la comunicación. Los motores de arrastre de ambos dispositivos
                        estaban sincronizados por sendos mecanismos de relojería de precisión y además el transmisor
                        emitía periódicamente una señal de sincronismo para compensar cualquier desviación.</p>
                    <p style="text-align: justify;">El 10 de junio de 1941 presentaron al registro la solicitud de
                        patente: “SECRET COMMUNICATION SYSTEM. Filed June 10, 1941 2 Sheets-Sheet 2 Patented Aug. 111,
                        1942 SECRET COMMUNICATION SYSTEM Hedy Kiesler Markey, Los Angeles, and George Anthcil, Manhattan
                        Beach, Calif. Application June 10, 1941, Serial No. 397,412”, que les fue concedida el 11 de
                        agosto de 1942, cuando USA ya estaba en guerra con Japón y Alemania. Hedy firmó con su apellido
                        de casada, Markey, que apenas utilizó durante un par de años.</p>
                   
                    <p style="text-align: justify;">Es de destacar que aunque la patente se titula “Sistema Secreto de
                        Comunicación”, tanto el texto de la descripción como los dibujos se refieren a la aplicación
                        concreta como control remoto del timón de un torpedo. En las reivindicaciones se amplía el
                        ámbito a “<em>un sistema secreto de comunicación (que consta de) una estación transmisora
                            incluyendo medios para generar y transmitir ondas portadoras de una pluralidad de
                            frecuencias..</em>.” sin concretar el tipo de modulación, lo que implica que puede emplearse
                        para la transmisión de sonidos y mensajes hablados.</p>
                    <p style="text-align: justify;">Otro aspecto curioso deriva del hecho de usar una cinta de pianola
                        que permite grabar 88 señales, correspondientes a las 88 teclas del piano. Tal número resultaba
                        innecesario y a los inventores se les ocurrió aprovechar los canales sobrantes, en todo o en
                        parte, para crear falsas transmisiones para confundir al enemigo. Así, en el dibujo del
                        transmisor, se representan 7 condensadores (24a a 24g) para poder transmitir en siete
                        frecuencias, en tanto que en el receptor solo se dispone de 4 condensadores para sintonizar las
                        frecuencias útiles. Los tres canales restantes emiten señales falsas, que no pueden ser
                        sintonizadas por el receptor propio, y están destinadas al engaño del adversario. Esta
                        característica se recoge en la reivindicación 6ª de la mencionada patente.</p>
                    <p style="text-align: justify;">La patente interesó a los militares, pero suscitó diversas
                        opiniones. La marina de EEUU presumió problemas en su mecanismo, que no era demasiado apto para
                        ser colocado en un torpedo, concluyó que el sistema era excesivamente vulnerable, inadecuado y
                        engorroso y archivó el proyecto. Lamarr y Antheil no insistieron, se olvidaron del tema y
                        volvieron a la cinematografía.</p>
                    <p style="text-align: justify;">Pero si bien la idea era difícil de llevar a la práctica a
                        principios de los años 1940, el enorme progreso de la electrónica con la invención del
                        transistor hizo factible su utilización. En 1957, ingenieros de la empresa estadounidense
                        Silvania Electronics Systems Division desarrollaron el sistema patentado por Hedy y George, que
                        fue adoptado por el gobierno para las transmisiones militares tres años después de caducar la
                        patente. La primera aplicación conocida se produjo poco tiempo después, durante la crisis de los
                        misiles de Cuba en 1962, en que la fuerza naval enviada por los Estados Unidos empleó la
                        conmutación de frecuencias para el control remoto de boyas rastreadoras. Después de Cuba se
                        adoptó la misma técnica en algunos dispositivos utilizados en la guerra del Vietnam y, más
                        adelante, en el sistema norteamericano de defensa por satélite (Milstar). En la actualidad,
                        muchos sistemas orientados a voz y datos, tanto civiles como militares emplean sistemas de
                        espectro ensanchado (entre ellos todas las tecnologías inalámbricas de que disponemos en la
                        actualidad, tanto la telefonía de tercera generación como el Wifi o el BlueTooth, se basan en el
                        cambio aleatorio de canal) y cada vez se encuentran más aplicaciones en la transmisión de datos
                        sin cable, campo en el que, en palabras de David Hugues (investigador e impulsor de una serie de
                        proyectos que han empleado técnicas de FHSS en la Natural Science Foundation de EEUU), todavía
                        no se han explorado todas sus posibilidades.</p>
                    <p style="text-align: justify;">Aunque la actriz no consiguió ingresar ni un solo centavo por la
                        patente, que caducó sin ser utilizada, no puede discutirse que fue la pionera en esta técnica.
                        Los honores y el reconocimiento, como veremos, tardaron en llegar.</p>
                    <p style="text-align: justify;">En los años que siguieron a la guerra,
                        Hedy fundó su propia compañía cinematográfica con la que hizo y protagonizó algunas películas
                        mediocres. Durante los descansos de los rodajes aprovechaba para seguir explorando su faceta de
                        inventora que se mantuvo en secreto mientras fue una estrella de la Metro. Al parecer, se creía
                        que podía perjudicar su imagen de diva. Cuando dejó la compañía, ya nadie la asociaba a ningún
                        invento. El hecho de que el nombre que figuraba en la patente fuese Markey, que solo usó un par
                        de años, tampoco ayudó a que la recordasen.</p>
                    <p style="text-align: justify;">Su vida personal no fue afortunada. Sus seis fracasos matrimoniales
                        (con <strong>Fritz Mandl, Gene Markey, Sir John Loder, Ted Stauffer, W. Howard Lee</strong> y
                        <strong>Lewis J. Boles</strong>) junto al declive de su carrera cinematográfica la llevaron a un
                        consumo masivo de pastillas y a una obsesión enfermiza por la cirugía estética. Se volvió
                        cleptómana y protagonizó sonados escándalos al ser detenida en diversas ocasiones. Finalmente,
                        se recluyó en su mansión de Miami para pasar los últimos años de su vida aislada de un mundo que
                        la había marginado, que celebraba las nuevas aplicaciones de su invención sin siquiera
                        nombrarla. Cuando llegaron al fin los reconocimientos como inventora, ya era demasiado tarde. Su
                        amargura había crecido hasta el punto que cuando le comunicaron la concesión del <em>Pioner
                            Award</em> se quedó imperturbable y comentó escuetamente. “Ya era hora” (<em>it’s about
                            time</em>). La ceremonia de entrega tuvo lugar en San Francisco el 12 de Marzo de 1997 y
                        asistió en su representación, su hijo Antony Loder. Ese mismo año, junto a Antheil, recibió el
                        <em>Bulbie Gnass Spirit of Achievement Award</em>, así como una distinción honorífica concedida
                        por el proyecto Milstar. En Octubre de 1998, la Asociación Austriaca de Inventores y Titulares
                        de Patentes le concedió la medalla <em>Viktor Kaplan</em> y, como colofón, en el verano de 1999,
                        el <em>Kunsthalle</em> de Viena organizó un proyecto multimediático de homenaje a la actriz e
                        inventora más singular del siglo XX.</p>
                    <p style="text-align: justify;">Su historia acabó el 19 de enero de 2000 en Caselberry. Como última
                        voluntad pidió que parte de sus cenizas se esparcieran por los bosques de Viena, cerca de su
                        casa natal. La herencia, valorada en 3 millones de dólares, fue repartida entre sus dos hijos
                        menores, su secretaria personal y un policía local que la acompañó y ayudó durante su última
                        etapa. Después de su muerte, su hijo cumplió con sus deseos. La mitad de las cenizas cubrió los
                        bosques vieneses mientras que la otra fue entregada al consistorio vienés para que las
                        enterrasen en un memorial. Pero estos pidieron 10000 euros por la lápida, precio que el hijo de
                        Lamarr no podía costear. Finalmente, catorce años después de su muerte, el pasado 7 de
                        noviembre, recibió su merecido homenaje en Viena.</p>
                    <p style="text-align: justify;">En Austria, el Día del Inventor se celebra el 9 de noviembre en su
                        honor.</p>
           

                </div>
            </div>

        </div><!-- End About Me -->
        </main><!-- End #main -->



        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
                class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script src="assets/vendor/aos/aos.js"></script>
        <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="assets/vendor/php-email-form/validate.js"></script>
        <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

        <!-- Template Main JS File -->
        <script src="assets/js/main.js"></script>

</body>

</html>