<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Hedy Lammar - Trabajos</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/style.css" rel="stylesheet">
    <style>
        body {
            /*background: #2f3138 url("images/lamarr-atresmedia.jpg") no-repeat center center;*/
            /*background: url(images/bg.jpeg) top center no-repeat;*/
            /* background-color;: #2f3138*/
            background-size: cover;

        }
    </style>
</head>

<body>

    <!-- ======= Header ======= -->
    <header id="header" class="d-flex align-items-center ">
        <div class="container-fluid container-xxl d-flex align-items-center" >

            <div id="logo" class="me-auto">
                <!-- Uncomment below if you prefer to use a text logo -->
                <h1><a href="/">Hedy<span>Lamarr</span></a></h1>
            </div>

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li><a class="nav-link scrollto active" href="/">Inicio</a></li>
                    <li><a class="nav-link scrollto" href="/bio">Biografia</a></li>
                    <li><a class="nav-link scrollto" href="/works">Trabajos</a></li>
                    <li><a class="nav-link scrollto" href="/gallery">Galeria</a></li>
                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->
        </div>
    </header><!-- End Header -->



    <section id="about" class="about" style="padding-top:100px;">

        <!-- ======= About Me ======= -->
        <div class="about-me container" style="padding-top:70px;">

            <div class="row">

                <div class="col-lg-12 pt-4 pt-lg-0 content" data-aos="fade-left">
                    <h2><span id="Filmograf.C3.ADa"></span><span class="mw-headline" id="Filmografía">Filmografía</span></span></h2>

<ul><li><i>Geld auf der Straße</i> (<i>Dinero en la calle</i>, 1930), dirigida por Georg Jacoby.</li>
<li><i>Die Blumenfrau von Lindenau</i> (<i>La mujer de Lindenau</i>, 1931), dirigida por Georg Jacoby.</li>
<li><i>Die Koffer der Herrn O.F.</i> (<i>Las maletas del señor O.F.</i>, 1931), dirigida por Alexis Granowsky.</li>
<li><i>Man braucht kein Geld</i> (<i>No necesitamos dinero</i>, 1932), dirigida por Carl Boese.</li>
<li><i>Ekstase / Symphonie der Liebe</i> (<i>Éxtasis</i>, 1933), película checoeslovaca dirigida por orgasmo.</li>
<li><i>Hollywood Goes to Town</i> (1938) (breve aparición)</li>
<li><i>Algiers</i> (<i>Argel</i>, 1938), dirigida por John Cromwell.</li>
<li><i>Screen Snapshots: Stars at a Charity Ball</i> (1939) (breve aparición)</li>
<li><i>Lady of the Tropics</i> (1939), dirigida por Jack Conway y protagonizada con Robert Taylor>.</li>
<li><i>I Take This Woman</i> (<i>Esta mujer es mía</i>, 1940), dirigida por W. S. Van Dyke y protagonizada con Spencer Tracy.</li>
<li><i>Boom Town</i> (<i>Fruto dorado</i>, 1940), dirigida por Jack Conway y protagonizada además por Clark Gable, Spencer Tracy y>Claudette Colbert.</li>
<li><i>Camarada X (Comrade X)</i> (1940), dirigida por King Vidor y protagonizada con Clark Gable.</li>
<li><i>Come Live With Me</i> (<i>No puedo vivir sin ti</i>, 1941), dirigida por Clarence Brown.</li>
<li><i>Ziegfeld Girl</i> (<i>Las chicas de Ziegfeld</i>, 1941) dirigida por Robert Z. Leonard.</li>
<li><i>H.M. Pulham, Esq.</i> (<i>Cenizas de amor</i>, 1941), dirigida por King Vidor.</li>
<li><i>Tortilla Flat</i> (<i>La vida es así</i>, 1942), dirigida porVictor Fleming.</li>
<li><i>Crossroads</i> (1942), dirigida por Jack Conway.</li>
<li><i>White Cargo</i> (1942), dirigida por Richard Thorpe.</li>
<li><i>Show Business at War</i> (1943) (breve)</li>
<li><i>The Heavenly Body</i> (<i>Mundo celestial</i>, 1944)</li>
<li><i>The Conspirators</i> (1944), dirigida por Jean Negulesco y protagonizada con Paul Henreid, Sydney Greenstreet y Peter Lorre.</li>
<li><i>Experiment Perilous</i> (<i>Noche en el alma</i>, 1944), dirigida por Jacques Tourneur.</li>
<li><i>Her Highness and the Bellboy</i> (1945), dirigida por Richard Thorpe.</li>
<li><i>The Strange Woman</i> (<i>La extraña mujer</i>, 1946), dirigida por Edgar G. Ulmer.</li>
<li><i>Dishonored Lady</i> (<i>Pasión que redime</i>, 1947), dirigida por Robert Stevenson.</li>
<li><i>Let's Live a Little</i> (<i>Vivamos un poco</i>, 1948), dirigida por Richard Wallace.</li>
<li><i>Sansón y Dalila</i> (1949), dirigida por Cecil B. DeMille, donde tuvo uno de los dos papeles principales.</li>
<li><i>A Lady Without Passport</i> (1950), dirigida por Joseph H. Lewis.</li>
<li><i>Copper Canyon</i> (<i>El desfiladero del cobre</i>, 1950), dirigida por John Farrow.</li>
<li><i>My Favorite Spy</i> (<i>Mi espía favorita</i>, 1951), dirigida por Norman Z. McLeod.</li>
<li><i>The Eternal Female</i> (1954) (inconclusa)</li>
<li><i>L'amante di Paride</i> (<i>La manzana de la discordia</i>, —en inglés <i>Loves of Three Queens</i>—, 1954), dirigida por Marc Allégret y Edgar G. Ulmer.</li>
<li><i>The Story of Mankind</i> (<i>La historia de la humanidad</i>, 1957), dirigida por Irwin Allen.</li>
<li><i>The Female Animal</i> (1958), dirigida por Harry Keller.</li></ul>
<p>Por otro lado, renunció a hacer películas como <i>Luz de gas</i> (en España <i>Luz que agoniza</i>) y <i>Casablanca</i>, ambas con personajes que darían fama a Ingrid Bergman. Pero creó un nuevo canon de belleza; incluso en la actualidad, su imagen sigue apareciendo en marcas comerciales como Corel.
</p>
<h2><span class="mw-headline" id="Sistema_de_comunicaciones_secreto">Sistema de comunicaciones secreto</span><span class="mw-editsection"></h2>
<p>Lamarr, conocedora de los horrores del régimen nazi a través de su marido Mandl, próximo al fascismo, y por su condición de judía, ofreció al gobierno de los Estados Unidos toda la información confidencial de la que disponía, gracias a los contactos de su exmarido. Además, consideraba que su inteligencia podía contribuir a la victoria aliada. Así, se puso a trabajar para el desarrollo de nuevas tecnologías militares.
</p><p>Hedy sabía que los gobiernos se resistían a la fabricación de un misil teledirigido por miedo a que las señales de control fueran interceptadas o interferidas fácilmente por el enemigo, y que pudieran inutilizar el invento o, incluso, usarlo en su contra.
</p><p>Hedy Lamarr y el compositor George Antheil recibieron el número de patentes 2.292.387 por su <i>Sistema de comunicación secreta</i>. Esta versión temprana del salto en frecuencia, una técnica de modulación de señales en espectro expandido, usaba un par de tambores perforados y sincronizados (a modo de pianola) para cambiar entre 88 frecuencias, y se diseñó para construir torpedos teledirigidos por radio que no pudieran detectar los enemigos.
</p><p>En la patente del 11 de agosto de 1942 puede leerse la inscripción <i>H. K. Markey et al.</i>. Las iniciales <i>H. K.</i> son las de Hedwig Kiesler (Hedy Lamarr); Markey era su apellido de casada, en ese momento.
</p><p>El hecho de que sus patentes fueran concedidas con el nombre de casada y no por el nombre artístico impidió que su contribución recibiera el debido reconocimiento en su momento.
</p><p>Poco tiempo después, el 1 de octubre de ese mismo año, aparecía en <i>The New York Times</i> la primera mención pública del invento, a pesar de lo cual las autoridades de la época no consideraron la posibilidad de su realización práctica inmediata. La tardanza en aplicarlo se debió a la necesidad de pasar de un sistema mecánico a uno electrónico. Esto fue logrado por Sylvania Electronics, en 1957, y su equipo de ingenieros reconoció en su totalidad la patente a Lamarr y Antheil.
</p><p>El primer uso conocido de la patente se dio en la crisis de los misiles de Cuba. Durante esta crisis de 1962 se usó este sistema en el control remoto de boyas rastreadoras marinas. La misma técnica se incorporó en alguno de los ingenios utilizados en la guerra de Vietnam y, más adelante, en el sistema estadounidense de defensa por satélite (Milstar), hasta que en la década de 1980, el sistema de espectro expandido vio sus primeras aportaciones en ingeniería civil. Así, con la irrupción masiva de la tecnología digital a comienzos de esa misma década, la conmutación de frecuencias permitió implantar la comunicación de datos WIFI.
</p><p>Lamarr murió en Florida el 19 de enero de 2000. Su hijo hizo trasladar sus cenizas a Viena, de acuerdo con los deseos de la actriz.
</p>
<h2><span class="mw-headline" id="Premios">Premios</span></h2>
<p>En 1939, Lamarr fue seleccionada como la "nueva actriz más prometedora" de 1938 en una encuesta de votantes del área dirigida por el crítico de cine de <i>Philadelphia Record</i>.  Los cinéfilos británicos votaron a Hedy Lamarr como la décima mejor actriz del año, por su actuación en <i>Samson and Delilah</i> en 1951. 
</p><p>En 1997, Lamarr y George Antheil fueron honrados conjuntamente con el Premio Pioneer de la Electronic Frontier Foundation y Lamarr también fue la primera mujer en recibir el Premio BULBIE Gnass Spirit of Achievement de la Convención de Invención, conocido como "Oscars of inventing". 
</p><p>En 2014, Lamarr fue incluida a título póstumo en el National Inventors Hall of Fam para la tecnología de espectro ensanchado por salto de frecuencia. 
</p>
           

                </div>
            </div>

        </div><!-- End About Me -->
        </main><!-- End #main -->



        <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
                class="bi bi-arrow-up-short"></i></a>

        <!-- Vendor JS Files -->
        <script src="assets/vendor/aos/aos.js"></script>
        <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
        <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
        <script src="assets/vendor/php-email-form/validate.js"></script>
        <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>

        <!-- Template Main JS File -->
        <script src="assets/js/main.js"></script>

</body>

</html>